# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.sln.docstates
*.userprefs
obj/

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.unitypackage
*.meta
*.anim

# Mac
.DS_Store
